@model AspNetCoreTemplate.Web.ViewModels.Users.MyProfileViewModel;
<link href="~/css/myprofile.css" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->
<!--
User Profile Sidebar by
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="@Model.Image" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        @Model.Username
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="container">
                    <ul>
                        <li class="active">
                            <a asp-action="MyTopPosts">
                                <i class="fas fa-book"></i>
                                My Top Posts
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-cogs"></i>
                                Account Settings
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-info"></i>
                                Help
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
    </div>
    <partial name="Partials/_MyPostsPartial" />
    <br>
    <br>

