@model AspNetCoreTemplate.Web.ViewModels.Posts.CreatePostViewModel

@{ 
    var categories = Model.Categories.Select(x => new SelectListItem(x.Hashtag, x.Id.ToString()));
}

    <form method="post" asp-action="Create">
        <div class="col-md-6">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <br />
        <div class="col-md-10 ">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <br />
        <div class="col-md-6">
            <label asp-for="ImageURL"></label>
            <textarea asp-for="ImageURL" class="form-control"></textarea>
            <span asp-validation-for="ImageURL" class="text-danger"></span>
        </div>
        <br />
        <div>
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="categories" class="form-control"></select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <hr />
        <input type="submit" class="btn btn-light " style="color:green" />
    </form>